main {
    display: flex;
    justify-content: center;
    margin-top: -5rem;

    .content{
        background: #FFF;
        border-radius: 1rem;
        width: 65%;
        display: grid;
        grid-template-rows: 1fr 80%;
    }

    .content-header{
        margin: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tasks{
        margin: 2rem 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}
.div-input{
    display: flex;
    height: 1.2rem;
    gap: 0.5rem ;
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
}